{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Planets - Traveller Logger</title>
{% endblock %}

{% block content %}
  <div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">Planetary Economics </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Planets</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Planets list</h4>
          <p class="card-description"> The planets we've visited
          </p>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Planet ID</th>
                  <th>Wiki Link</th>
                </tr>
              </thead>
              <tbody>
                {% for planet in planets %}
                  <tr>
                    <td>
                      <a href="{% url 'planet_details' planet_id=planet.id %}">{{ planet.name }}</a>
                    </td>
                    <td>{{ planet.planet_id }}</td>
                    <td>
                      <a href={{ planet.wiki_link }}>{{ planet.wiki_link }}</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}