{% extends 'base.html' %}

{% block title %}Planet Details - {{ planet.name }}{% endblock %}

{% block content %}
<h1>{{ planet.name }}</h1>
<p>Map coordinates: {{ planet.planet_coords }}</p>
<p>Wiki link: <a href="{{ planet.wiki_link }}">{{ planet.wiki_link }}</a></p>

<h2>Jump map render</h2>
<div id="jump-map">
  <img src="{{ map_render_link }}"></li>
  <p>Jump map from <a href="https://travellermap.com/go/Trojan%20Reach/{{ planet.planet_coords }}">Travellermap.com</a></p>
</div>
<h2>Wares list</h2>
<div id="ware-list">
  {% for ware in wares_list %}
    <p>{{ ware.ware.name }} | Buy: {{ ware.purchase_price }} | Sell: {{ ware.sell_price }}</p>
  {% endfor %}
  <button id="edit-button">Edit</button>
</div>
<div id="ware-form" style="display: none">
  <form method="post">
    {% csrf_token %}
    {{ formset }}
    <input type="submit" value="Submit">
  </form>
  <button id="cancel-button" style="display: none">Cancel</button>
</div>
{% endblock %}