{% extends 'base.html' %}

{% block title %}Planet List{% endblock %}

{% block content %}
<h1>Planet List <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="#000000" d="M17.9 17.39c-.26-.8-1.01-1.39-1.9-1.39h-1v-3a1 1 0 0 0-1-1H8v-2h2a1 1 0 0 0 1-1V7h2a2 2 0 0 0 2-2v-.41a7.984 7.984 0 0 1 2.9 12.8M11 19.93c-3.95-.49-7-3.85-7-7.93c0-.62.08-1.22.21-1.79L9 15v1a2 2 0 0 0 2 2m1-16A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2"/></svg></h1>
<div id="planet-list">
  <table id="planet-list-table">
    <thead>
      <tr>
        <th>Planet</th>
        <th>Coordinates</th>
      </tr>
    </thead>
    <tbody>
      {% for planet in planets %}
        <tr>
          <th><a href="{% url 'planet_details' planet_id=planet.id %}">{{ planet.name }}</a></th>
          <th><a href="{{ planet.map_link }}">{{ planet.planet_coords }}</a></th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}